/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQl0iK9FjZaRuUyquAl4QIEaZBk6QHPqi0PbLFjAUVO0IMN_LNFl_acksm8Q1R64XAuoxA&usqp=CAU');
    color: #222;
  }
  
  /* Container */
  .container {
    max-width: 650px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 8px rgba(86, 86, 86, 0.12), 0 30px 30px rgba(0, 0, 0, 0.24);
  }
  
  /* Detail Sections */
  .container div {
    margin-bottom: 20px;
  }

  .container h5 {
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 40px;
    margin-right: 10px;
    color: #3916ff;
    text-align: center;
    
  }
  
  
  .container h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 10px;
    color: #3916ff;
    text-align: center;
    display:inline-block;
  }
  
  .container p {
    display:inline-block;
    text-align: center;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.6;
    
  }
  
  /* Links */
  .container a {
    display:inline-block;
    box-shadow: 0 5px 8px rgba(86, 86, 86, 0.12), 0 1px 20px rgba(0, 0, 0, 0.24);
    background-color: #2707fb;
    padding: 10px 50px;
    margin-top: 20px;
    margin-right: 30px;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    
    transition: background-color 0.3s;
  }
  
  .container a:hover {
    background-color: #8ebbff;
  }
  