<!DOCTYPE html>
<htmbr lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'hello.css' %}" />

  </head>
  <br>
    
  
    <h2>H e l l o! </h2>
    <h4>H e l l o! </h4>
    <h6>H e l l o! </h6>
    <h1>I am Hye In Kim!</h1>
    <h3>
   Korea University 

    </br>
   Next(Software-Startup Club) 11th 

</br>
     contact: hanny1126@naver.com
  
      </h3>
    


    
    <container class="container">
        
      <a href="{% url 'info' %}" class="info">Info</a></class=>
      <a href="{% url 'photo' %}" class="photo">Photofolio</a></class=>
      <a href="https://www.linkedin.com/in/hyein-kim-7178981a8/?trk=public-profile-join-page" class="linkedin">
        Linkedin</a>
    </container>
  </body>
</html>
