{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Article</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}" />
  </head>
  <body>
    <div class="boxx">
      <ul>
        <li><a href="{% url 'list' %}">전체보기({{ all_count }})</a></li>
        {% for category in categorys %}
        <li><a href="{% url 'detail' category %}">{{ category }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <br />

    <div class="box">
      <span class="count"> {{ article }} 글 개수 ({{ count }})</span>
      <ul>
        {% for article in articles %}
        <li>
          <p class="date">{{ article.date }}</p>
          <p class="title_">{{ article.title }}</p>
          <p class="category">{{ article.category }}</p>

          <p class="content">{{ article.content }}</p>
        </li>
        {% endfor %}
      </ul>
    </div>
    <br />

    <a href="{% url 'new' %}">글쓰기</a>
  </body>
</html>
